<div class="footer">
    <div class="footer-columns">
        <div class="footer-column">
            <h2 class="section-title">Get in touch!</h2>
            <ul class="contact-list" style="list-style-type: disc;">
                <li><a href="https://www.linkedin.com/in/robinnewhouse/">LinkedIn</a></li>
                <li><a href="https://twitter.com/robinnewhouse">Twitter</a></li>
                <li>Or let's grab a coffee if we're in the same city! ☕️</li>
            </ul>
        </div>
        <div class="footer-column">
            <h2 class="section-title">Where am I now?</h2>
            <iframe class="map" src="https://maps.google.com/maps?q=Vancouver,BC,Canada&z=11&output=embed"
                allowfullscreen>
            </iframe>
        </div>
        <div class="footer-column" style="font-size: 0.7rem;">
            <h2 class="section-title">Photo credits</h2>
            <p><br>
                The Fairy of Eagle Nebula: <i>The Hubble Heritage Team, (STScI/AURA), ESA, NASA</i><br>
                Profile picture: <i>Paul Joseph - UBC Brand and Marketing</i><br>
                ATLAS detector: <i>Maximilien Brice - CERN</i></p>
        </div>
    </div>
</div>